@import url("chrome://global/skin/");
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#vuu_preferences_win {
    height: 35em !important;
    width: 60em !important;
}

#vuupreflist {
    width: 10em !important;
}

.scroll {
    overflow:auto!important;
}

.link {
    color: #2f2f2f !important;
    font-weight:bold!important;
    cursor: pointer !important;
    text-decoration: underline !important;
    margin-bottom:1px!important;
    margin-top:7px!important;
    margin-left:5px!important;
}

.link:hover {
    color: #010101 !important;
    font-weight:bold!important;
    margin-bottom:1px!important;
    margin-top:7px!important;
    margin-left:5px!important;
}

